@font-face {
         font-family: 'ChunkFiveRegular';
         src: url('../fonts/chunkfive-webfont.eot');
         src: url('../fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chunkfive-webfont.woff') format('woff'),
         url('../fonts/chunkfive-webfont.ttf') format('truetype'),
         url('../fonts/chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
         font-weight: normal;
         font-style: normal;
}

body {
	margin: 0;
	background-color: #eee;
	font-family: 'Helvetica Neue', Helvetica, Arial;
}

.tabTitle{
	margin: 5px 3px;
	color: #999;
	text-transform: uppercase;
	font-size: 13px;
}
th {
	text-align: left;
}

.panel {
	height: 97vh;
	margin: 0;
	width: 33.5vw;
}
#left {
	z-index: 4;
}

.tabContainer {
	margin-top: 40px;
	float: left;
	margin-left: 5px;
}

.tabContainer label {
	position: relative;
	background: #eee; 
	padding: 5px;
	top: -23px;
	border: 1px solid #bbb;
}

.tabContainer [type=radio] {
  display: none;   
}

.tab {
	position: absolute;
	overflow: hidden;
	left: 5px;
	top: 40px;
	background-color: white;
	border: 1px solid #bbb;
	height: calc(100vh - 110px);
	z-index:1;
	width: calc(33.3vw - 10px);
	opacity: 0;
	transition: opacity 0.4s linear;
/* 	overflow: -moz-scrollbars-none; */
}

.tab > * {
	margin: 5px;
}

.tab > p {
	margin: 11px 9px;
}


#installedPerNode{
	left: 33.4vw;
	width: calc(33.4vw - 8px);
}

#runningPerNode {
	left: 66.6vw;
}

#serviceList {
	width: calc(66.6vw - 10px);
}

#monitor {
	position: absolute;
	left: 66.6vw;
}

[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 3;
}

[type=radio]:checked ~ label ~ .tab {
  z-index: 2;
  opacity: 1;
}

.installButton {
	display: None;
	position: fixed;
	left: calc(34vw - 2px);
	top: 14px;
	font-size: 0.7em;
}

[type=radio]:checked ~ .installButton{
	display: block;
}

#nodesTab:checked ~#buttons{
	display: block;
}


#buttons {
	position: fixed;
	display: None;
	z-index: 3;
	width: calc(68vw - 280px);
	max-width: 445px;
	overflow-x: auto;
	top: 4px;
	right: 7px;
	padding: 4px;
}


@supports (-ms-accelerator:true) {
  #buttons { width: calc(68vw - 380px); } 
}

#wrap  {
	width: 445px;
	overflow: auto;
	display: block;
}
select{
	width: 120px;
}
.button {
	float: left;
	cursor: pointer;
	margin-right: 10px;
	
}

#shutdown{
	font-family: 'ChunkFiveRegular';
	text-transform: uppercase;
}

#shutdown {
	font-size: 0.8em;
	position: fixed;
	bottom: 20px;
	text-align: center;
	cursor: pointer;
	left: 10px;
	color: #aaa;
	text-shadow: 1px 1px white;
}

#shutdown:hover {
	color: #555;
}

#devtools {
	position: fixed;
	bottom: 36px;
	left: 8px;
}

#messageDisplay {
	position: fixed;
	z-index: 5;
	bottom: 27px;
	left: 33.4vw;
	min-width: 55vw;
	height: 20px;
	border: 1px dashed grey;
	background-color: white;
}
#messageDisplay > p{
	margin: 0 10px;
}
#clock {
	position: fixed;
	bottom: 11px;
	width: 240px;
	left: 140px;
	font-size: 11px;
}

canvas{
	width: calc(100% - 10px);
	background-color: #fcfbf1;
	margin: 5px;
}

#monitor > p {
	margin-top: 25px;
	margin-bottom: 5px;
}

.error {
/* 	background-color: red; */
	color: red;
}
.blue {
	color: blue;
}

.link {
	text-decoration: underline;
}

/*
CONTENT
 */

.table, .tableDrag{
	font-size: 10px;
	border-spacing: 0;
/* 	table-layout: fixed; */
}

.table {
	width: calc(100% - 10px);
}

.table thead th{
	height: 30px; /* two lines */
	width: 400px;
	border-bottom: 2px solid #888;
}

td {
	padding: 0px;
/* 	-webkit-touch-callout: none; iOS Safari */
/*   	-webkit-user-select: none;   Chrome/Safari/Opera */
/*   	-khtml-user-select: none;    Konqueror */
/*   	-moz-user-select: none;      Firefox */
/*   	-ms-user-select: none;       Internet Explorer/Edge */
/*   	user-select: none;  */
}
.formlabel {
	font-size: 11px;
	width: 50px;
	display: inline-block;
}
.formlabel-inline {
	text-align: right;
	padding-right: 5px;
}
.table thead tr {
	display: block;
}

#installOptions, #runningOptions {
	border-top: 1px solid black;
	padding-top: 8px;
}

#installOptions input[value=Install], #installOptions input[value=Remove]{
	position: absolute;
	right: 15px;
}
.optionText {
	width: calc(100% - 60px);
}

.optionNumber {
	width: 35px;
}
.floatRight{
	float: right;
}

#installOptions select, #installOptions #id {
	width: 50px;
}

.selected {
	background-color: #20658E;
	color: white;
}

.table tbody td, .tableDrag tbody td {
	height: 15px;
	border-bottom: 1px solid #bbb;
	width: 400px;
}

.table tbody tr {
	display: table-row;
	width: 100%;
	cursor: pointer;
}

.table tbody {
	height: calc(100vh - 200px);
	display: block;
	width: 100%;
	overflow: auto;
	transition: height 0.4s linear;
}

#workflows input{
	width: 100px;
}

.tableDrag {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #DAF;
	opacity: 0.8;
}

.tableDrag td:first-child {
	border-left: 1px solid black;
}
.tableDrag td:last-child {
	border-right: 1px solid black;
}

.monitorHighlight{
/* 	border: 1px solid #DAF; */
	background-color: #FAF0FF;
}

.status {
	text-align: center;
	min-width: 20px;
}

.name {
	min-width: 140px;
}
.ip{
	min-width: 70px;
}
.abrev {
	min-width: 40px;
}

.digit {
	width: 10px;
	max-width: 10px;
}
.bold {
	font-weight: 600;
}
#autoset {
	font-weight: italic;
	font-size: 10px;
}