/* @import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700); */
/* @import url(https://fonts.googleapis.com/css?family=Abril+Fatface); */

@font-face {
         font-family: 'ChunkFiveRegular';
         src: url('../fonts/chunkfive-webfont.eot');
         src: url('../fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chunkfive-webfont.woff') format('woff'),
         url('../fonts/chunkfive-webfont.ttf') format('truetype'),
         url('../fonts/chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
         font-weight: normal;
         font-style: normal;
}

body {
	margin: 0 0;
	padding: 0 0;
}

#panel {
/* 	position:absolute; */
/* 	z-index: 1; */
	min-width: 142px; /*150px - 8px padding-left*/
	height: calc(100vh - 35px);
	background: #eee;
	float: left;
	margin-right: 5px;
	margin-top: 35px;
	padding-left: 8px;
	font-family:  monaco, "Lucida Console";
	font-size: 0.7em;

}

#panel h3 {
	margin-top: 5px;
}

#panel > ul{
	list-style-type: none;
	padding: 0 8px 0 0;
}

#panel > ul > li {
	border: 1px solid grey;
	border-radius: 3px;
	cursor: pointer;
	margin-bottom: 3px;
	padding: 2px;
}

#nodeflow {
/* 	position: absolute; */
/* 	z-index: 2; */
	float: left;
	margin-top: -5px;
	margin-left: -5px;
	width: 150px;
	text-align: center;
	background: #444;
	color: #fea;
	height: 30px;	
}

#nodeflow a {
	color: #fea;
	text-decoration: none;
}

#nodeflow h1, #admin, #luciweb{
	font-family: 'ChunkFiveRegular';
	font-size: 1.2em;
	text-transform: uppercase;
}

.dontSelect {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#admin {
	font-size: 1.2em;
	position:absolute;
	bottom: 50px;
	text-align: center;
	cursor: pointer;
	left: 14px;
	text-shadow: 1px 1px white;
}
#admin a , #luciweb a{
	text-decoration: None;
	color: #aaa;
}

#luciweb a {
	margin-bottom: 4px;
	font-size: 1.05em;
}

#admin:hover {
	color: #555;
}

h1, p {
	margin: 0;
}

#nodeflow, #title {
	padding: 5px 0 0 0;
}

#nodeflow > img {
	float: left;
	padding-left: 10px;
}

#titlebar {
	height: 29px;
/* 	margin-left: 155px; */
	padding-top: 5px;
	border-bottom: 1px black dotted;
	padding-left: 5px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	background-color: white;
	width: calc(100% - 5px);
}

#message, #help {
	font-family: monaco, "Lucida Console";
	padding-right: 10px;
	padding-left: 2px;
	vertical-align: 0.35em;
	font-size: 0.5em;
}
#messageDisplay {
/* 	position: absolute; */
/* 	left: 153px; */
/* 	top: 38px; */
/* 	z-index: 10; */
	float: left;
	margin-left: 5px;
	margin-top: 38px;
	background: rgba(220,220,220,0.6);
}

#help {
	padding-left: 20px;
	color: blue;
}

#title p {
	float: left;
}

#topRight {
	font-family: "ChunkFiveRegular";
	font-weight: 100;
	font-size: 8.5px;
	float: right;
	margin-right: 5px;
}

#topRight span{
	font-size: 15px;
}

.error {
	color: red;
}

.help {
	color: blue;
}

.green {
	color: green;
}

#paper{
	position:absolute;
	z-index: -1;
	top: 35px;
	padding-left: 155px;
	background: #fcfbf1;
}

.button {
	float: left;
	cursor: pointer;
	margin-right: 10px;
}

#input {
/* 	float: right; */
	position: relative;
	z-index: 20;
	width: 85%;
	height: 17px;
	background: rgba(255,255,255,0.8);
}
#inputs{
	float: left;
}
#inputs select, #workflows select, #workflows form{
	width: 120px;
}
#workflows input{
	width: 100px;
}

#inputWrapper {
/* 	position: relative; */
	padding-left: 720px;
}

#panel ul:first-child li {
	margin: 0;
	padding: 0;	
}

#devtools {
	position: absolute;
	bottom: 72px;
	left: 11px;
}

#luciweb {
	position: absolute;
	bottom: 24px;
	left: 14px;
}
