/* elements */

.v-line {
	font-size: 10px;
}

.devs .port-body:hover {
    opacity: 1;
    fill: #2b3549;
}

/* links */

.link .marker-arrowhead, .link .marker-vertex {
    fill: #d4be09;
}
.link .marker-arrowhead:hover {
    fill: #2b3549;    
}

.link-tools .tool-remove circle {
    fill: #546895;
}

/* highlighting */

.devs.highlighted-parent .body {
    stroke: #50628d;
    transition: stroke 1s;
}

.devs.highlighted-parent .label {
    fill: #2b3656;
    transition: fill 1s;
    text-decoration: underline;
}